body {
    background-image: url('../img/fondoImagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.infografia {
    max-width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 2vh;
    box-shadow: 0 0 10px rgba(10, 118, 41, 0.4);
    position: relative;
    z-index: 9;
}

nav {
    width: 99%;
    max-width: 98%;
    height: 5vh;
    background-color: #4936f4;
    margin-bottom: 1vh;
    border-radius: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    padding: 1vh;
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.6vh;
    padding: 0.5vh 1vh;
}

nav a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
}

.h1, h2, h3 {
    color: #333;
}

.p {
    color: #666;
}

.section {
    margin-bottom: 30px;
    text-align: center;

}

.section h2 {
    color: #4936f4;
    font-size: 3vh;
    border-bottom: 2px solid #4936f4;
    padding-bottom: 5px;
    margin-bottom: 10px;
    align-content: center;
    font-family:'Times New Roman', Times, serif;
}
.section p {
    font-size: 2vh;
}

.section {
    margin-bottom: 10px;
}

.section a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}


.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #4936f4;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.fondo-img {
    position: relative;
    height: 30vh;
    background-image: url('../img/fondoImagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content p {
    font-size: 12px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.info-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.content {
    width: 60%;
    text-align: center;
    padding: 20px;
}


.content img{
    width: 15vh;
    max-width: 15vh;
    border-radius: 8vh;
}


.dates {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    justify-content: left;
    background: rgba(0, 0, 0, 0.5);
}

.dates h1{
    font-size: 16px;
}

.dates ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 90%; /
}

.dates ul li {
    font-size: 12px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.tecnology {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tecnology img {
    max-width: 20vh;
    height: auto;
    margin: 10px;
    border-radius: 8vh;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.bf {
    margin: 1vh;
    padding: 1vh;
    border-radius: 3vh;
    text-align: center;
    border: 1px solid #368749;
}

.bf a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    color: #4936f4;
}



.content {
    position: relative;
}

.change-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.change-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 400%;
    height: 100%;
    animation: cambio 30s infinite linear;
}

.change-container ul li {
    width: 25%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.change-container ul li img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.progress-bar {
    background-color: #368749;
    height: 100%;
}

.habilidad-item {
    text-align: center;
}

.progress {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    margin-top: 5px;
    position: relative;
}

.progress-bar {
    background-color: #4caf50;
    height: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar .progress-text {
    display: block;
    height: 100%;
    line-height: 20px;
    font-size: 14px;
}


@keyframes cambio {
    0% { margin-left: 0; }
    15% { margin-left: 0; }
    20% { margin-left: -100%; }
    40% { margin-left: -100%; }
    45% { margin-left: -200%; }
    65% { margin-left: -200%; }
    70% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (max-width: 1240px) {
    .content img {
        max-width: 50%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .dates ul li {
        font-size: 10px;
    }
    nav a {
        font-size: 10px;
        justify-content: center;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .infografia {
        max-width: 80%;
    }

    .section h2 {
        font-size: 20px;
    }

    .section p {
        font-size: 16px;
    }

    .tecnology img {
        max-width: 100px;
        border-radius: 6px;
    }

    .image-container img {
        max-width: 60px;
        border-radius: 4px;
    }

    nav {
        height: auto;
        padding: 0.5vh 1vh;
        flex-direction: row;
    }

    nav a {
        font-size: 1.4vh;
        margin: 5px 0;
    }

    .dates ul li {
        font-size: 14px;
    }

    .progress {
        height: 15px;
    }

    .progress-bar {
        height: 15px;
        font-size: 12px;
    }
    .fondo-img {
        padding: 10px;
    }

    .content img {
        max-width: 50%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 0 5px;
    }
}

@media (max-width: 768px) {
    .infografia {
        max-width: 70%;
    }

    .section h2 {
        font-size: 20px;
    }

    .section p {
        font-size: 14px;
    }

    .tecnology img {
        max-width: 100px;
        border-radius: 6px;
    }

    .image-container img {
        max-width: 60px;
        border-radius: 4px;
    }

    nav {
        flex-direction: column;
        padding: 1vh;
    }

    nav a {
        margin: 0.5vh 0;
        font-size: 1.4vh;
    }

    .dates ul {
        max-width: 100%;
    }

    .dates ul li {
        font-size: 12px;
    }

    .progress {
        height: 15px;
    }

    .progress-bar {
        height: 15px;
        font-size: 12px;
    }
    .fondo-img {
        padding: 10px;
    }

    .content img {
        max-width: 80%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .habilidad-item {
        text-align: center;
        margin-bottom: 20px;
    }

    .habilidad-item img {
        max-width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    .progress-bar {
        width: 100%;
    }

    .progress-text {
        font-size: 12px;
    }

    .habilidad-item p {
        font-size: 14px;
    }
    .dates ul li {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .infografia {
        max-width: 70%;
    }

    .section h2 {
        font-size: 18px;
    }

    .section p {
        font-size: 12px;
    }

    .tecnology img {
        max-width: 80px;
        border-radius: 4px;
    }

    .image-container img {
        max-width: 50px;
        border-radius: 3px;
    }

    nav {
        padding: 0.5vh;
    }

    nav a {
        font-size: 1.2vh;
    }

    .dates ul li {
        font-size: 8px;
    }

    .progress {
        height: 15px;
    }

    .progress-bar {
        height: 15px;
        font-size: 10px;
    }

    .change-container{
        padding: 0px;
    }
}

@media (max-width: 450px) {
    .fondo-img {
        padding: 10px;
    }

    .info-container {
        text-align: center;
        padding: 0;
    }

    .content{
        padding: 0;
    }

    .content img {
        max-width: 80%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 14px;
        padding: 0 5px;
    }

    .dates ul {
        padding: 0;
        list-style: none;
    }

    .dates ul li {
        font-size: 10px;
    }

    .change-container ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .change-container ul li {
        flex: 1 1 35%;
    }

    .change-container ul li img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

@media (max-width: 360px) {

    .fondo-img{
        padding: 0;
    }
    .info-container {
        margin: 0;
    }
    .content p {
        font-size: 10px;
    }
    .dates ul li {
        font-size: 8px;
    }
}
